__pycache__/
*.py[cod]
/data/
**/stam*
/.vscode
/docs/06-13-14-33_mine_global_500_BRIEF_STAR
/.idea
.history/
*.pyg*
*.code-workspace
/docs/NAV_Stage_5_ehud.pdf
/docs/cameras_comparison.html
/docs/Images/
/docs/fig/
/out/
/docs/*.aux
/docs/*.fls
/docs/*.log
/docs/*.toc
/docs/*.out
/docs/*.gz
/docs/*fdb*